<h1>This is the secret page!</h1>

<img src="https://images.reverb.com/image/upload/s--suTNoc5A--/a_exif,c_limit,e_unsharp_mask:80,f_auto,fl_progressive,g_south,h_1600,q_80,w_1600/v1492803144/qrtsugkdl0tdlxirxpn4.jpg" >

<li><a href="/register">Sign up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>