<% include partials/header %>
<h1>This is the home page!</h1>
<img src="https://www.straitstimes.com/sites/default/files/styles/article_pictrure_780x520_/public/articles/2019/01/01/gn-0119-slash.jpg?itok=hTnjdP19&timestamp=1546312846">
<% include partials/footer %>